<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org"xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
 layout:decorate="layout">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<div layout:fragment="content1"><script type="text/javascript">

function verif_champ(champ) { 
	if (!champ.replace(/\s+/, '').length) { alert("le champ n'est pas rempli!!!!!"); return false; } alert("l'operation est passee avec succes ");return true; }
</script>
<div class="container  mt-4">
		<div class="card" >
		<div class="card-header bg-primary text-white">Liste des Cinemas</div>

<div class="card-body">
		<form name="form1" onsubmit='return verif_champ(document.form1.keyword.value);' method="get" th:action="@{ListCinema}">
		<div class="form-group">
		<label class="mr-2">Name</label>
		<input type="text" name="keyword" th:value="${keyword}"/>
		<button class="btn btn-success ml-2" >Chercher</button>
		</div>
		</form>
		<form  name="form2"   method="get" th:action="@{AjouterCinema}">
		<div class="form-group">
		<button  class="btn btn-success ml-2" >Ajouter Cinema</button>
		</div>
		</form>
			<table class=table>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>NombreSalles</th>
					<th>LATITUDE</th>
					<th>ALTITUDE</th>
					<th>LONGITUDE</th>
					
				</tr>
				<tr th:each="p: ${cinemas}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.name}"></td>
					<td th:text="${p.nombreSalles}"></td>
					<td th:text="${p.longitude}"></td>
					<td th:text="${p.latitude}"></td>
					<td th:text="${p.altitude}"></td>
				 	<td><a onclick="return confirm('etes vous sur pour supprimer  Cinemas ?')" class="btn btn-danger" th:href="@{deleteCinema(id=${p.id},keyword=${p.name},,page=${currentpage})}">Supprimer</a></td> 
				 	<td><a onclick="return confirm('etse vous sur pour afficher Salles?')" class="btn btn-success" th:href="@{ListSalle(KeySalle=${p.name},KeyVille=${villename})}"> Salles</a></td> 
				 	
				</tr>
				</table>
				<ul class="nav nav-pills">
		<li th:each="page,status:${pages}">
		<a  th:class="${status.index==currentpage?'btn btn-primary':'btn'}"  th:href="@{ListCinema(page=${status.index},keyword=${keyword})}" th:text="${status.index}"></a>
		</li>
		</ul>
  	
   		</div> 
</div>
</div>
	</div>			
</body>
</html>